<app-menu></app-menu>

<!-- 
<app-header></app-header>
<app-services></app-services>

<app-features></app-features>
<app-team> </app-team>
<app-pricing></app-pricing>
<app-testimonial></app-testimonial>
<app-cta></app-cta>

<app-footer></app-footer>
<app-tablapartido></app-tablapartido>
-->


<app-contact></app-contact>


<!-- Go to Top Link 
<a href="#" class="back-to-top">
    <i class="lni-arrow-up"></i>
</a>
-->

<!-- Preloader -->
<div id="preloader">
    <div class="loader" id="loader-1"></div>
</div>
<!-- End Preloader -->